@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif
}

body{
    background-image: url(../img/a655714ddf5c58db4b3b6da5b577f049.png);
}
#header-todo{
    background-color: #1b2c82;
    color: white;
}

#header-todo h1{
    font-weight: lighter;
    padding: 1.2rem;
    font-size: 1.5rem;
}

#container-forms{
    background-color: white;
    margin: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
}

#container-todo-add{
    width: 90%;
}

#container-todo-add form{
    display: flex;
}

#container-todo-add input{
    width: 100%;
    margin-right: 1%;
}

#container-todo-add button{
    background-color: #1b2c82;
    border: 1px solid #fdfdfd;
    color: #fdfdfd;
    cursor: pointer;
}

#container-todo-add button:hover{
    background-color: #fdfdfd;
    border: 1px solid #1b2c82;
    color: #1b2c82;
    cursor: pointer;
    transition: 0.4s;
}

#container-todo-add button i{
    pointer-events: none;
    margin: 0.3rem 0.6rem;
    font-size: 1.2rem;
}

#container-todo-filter{
    margin-left: 5%;
}

#container-forms h2{
    font-weight: lighter;
    margin-bottom: 1rem;
}

#container-todo-add input, #container-todo-filter select{
    border: 1px solid #CCC;
    padding: 0.5rem;
}

#container-tasks{
    margin: 0 2rem;
}

.todo{
    background-color: white;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    transition: 0.4s;
}

.todo p{
    width: 90%;
}

.todo button{
    margin: 0 0.2rem;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #1b2c8200;
    color: #1b2c82;
    cursor: pointer;
}

.todo button:hover{
    border: 1px solid #1b2c82;
    transition: 0.2s;
}

.todo i {
    pointer-events: none;
    padding: 0.8rem 1rem;
    font-size: 1.1rem;
}


.done{
    background-color: #1b2c82da;
    transition: 0.4s;
}

.done p{
    color: white;
    text-decoration: line-through;
}

.done i{
    color: white;
}

.done button:hover{
    border: 1px solid white;
}
